In [1]:
!pip install kagglehub

Requirement already satisfied: kagglehub in ./anaconda3/lib/python3.11/site-packages (0.3.13)
Requirement already satisfied: packaging in ./anaconda3/lib/python3.11/site-packages (from kagglehub) (23.0)
Requirement already satisfied: pyyaml in ./anaconda3/lib/python3.11/site-packages (from kagglehub) (6.0)
Requirement already satisfied: requests in ./anaconda3/lib/python3.11/site-packages (from kagglehub) (2.31.0)
Requirement already satisfied: tqdm in ./anaconda3/lib/python3.11/site-packages (from kagglehub) (4.65.0)
Requirement already satisfied: charset-normalizer<4,>=2 in ./anaconda3/lib/python3.11/site-packages (from requests->kagglehub) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in ./anaconda3/lib/python3.11/site-packages (from requests->kagglehub) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./anaconda3/lib/python3.11/site-packages (from requests->kagglehub) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in ./anaconda3/lib/python3.11/site-packages (from requests->kagglehub) (2023.7.22)

In [1]:
import kagglehub

path = kagglehub.dataset_download("nguyenvy/nhanes-19882018")
print("Path to dataset files:", path)

Path to dataset files: /Users/minaheelkhan/.cache/kagglehub/datasets/nguyenvy/nhanes-19882018/versions/10

In [15]:
import pandas as pd

demo = pd.read_csv(path + "/demographics_clean.csv")
diet = pd.read_csv(path + "/dietary_clean.csv")
mort = pd.read_csv(path + "/mortality_clean.csv")
weights = pd.read_csv(path + "/weights_clean.csv")

In [16]:
df = demo.merge(diet, on="SEQN", how="left") \
         .merge(mort, on="SEQN", how="left") \
         .merge(weights, on="SEQN", how="left")

/var/folders/nk/m67jcr3d74gdqb7sq9_szhmr0000gn/T/ipykernel_48768/338799759.py:3: FutureWarning: Passing 'suffixes' which cause duplicate columns {'SDDSRVYR_x', 'SEQN_new_x'} in the result is deprecated and will raise a MergeError in a future version.
  .merge(weights, on="SEQN", how="left")

In [17]:
df.head()

,SEQN,SEQN_new_x,AIALANGA,DMAETHN,DMAETHNR,DMARACE,DMARACER,DMDBORN4,DMDCITZN,DMDEDUC,...,WTSC2YR,WTSVOC2Y,WTSA2YR,WTSB2YR,WTSBMEL,WTSSBG2Y,WTALD2YR,WTSH2YR,WTSSPH2Y,WTSSBI2Y
0,3,I-3,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,I-3,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,I-3,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,I-3,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3,I-3,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
dict_path = path + "/dictionary_nhanes.csv"
dictionary = pd.read_csv(dict_path)

dictionary.head(20)

,variable_codename_use,variable_description_use,in_dataset,file_category,num_participants_measurements,unique_cycles,units,cas_num,comment_codename_use,chemical_family,chemical_family_shorten
0,SEQN,Respondent sequence number,Mortality,Survey Variables,135310,"1988-1994, 1999-2000, 2001-2002, 2003-2004, 20...",NaN,NaN,NaN,NaN,NaN
1,SEQN_new,Respondent sequence number that includes an id...,Mortality,Survey Variables,135310,"1988-1994, 1999-2000, 2001-2002, 2003-2004, 20...",NaN,NaN,NaN,NaN,NaN
2,ELIGSTAT,Eligibility Status for Mortality Follow-up,Mortality,Mortality,135310,"1988-1994, 1999-2000, 2001-2002, 2003-2004, 20...",NaN,NaN,NaN,NaN,NaN
3,MORTSTAT,Final Mortality Status,Mortality,Mortality,78663,"1988-1994, 1999-2000, 2001-2002, 2003-2004, 20...",NaN,NaN,NaN,NaN,NaN
4,UCOD_LEADING,Underlying Cause of Death Recode from UCOD_113...,Mortality,Mortality,17857,"1988-1994, 1999-2000, 2001-2002, 2003-2004, 20...",NaN,NaN,NaN,NaN,NaN
5,DIABETES,Diabetes flag from multiple cause of death,Mortality,Mortality,17857,"1988-1994, 1999-2000, 2001-2002, 2003-2004, 20...",NaN,NaN,NaN,NaN,NaN
6,HYPERTEN,Hypertension flag from multiple cause of death,Mortality,Mortality,17857,"1988-1994, 1999-2000, 2001-2002, 2003-2004, 20...",NaN,NaN,NaN,NaN,NaN
7,PERMTH_INT,Person Months of Follow-up from Interview Date,Mortality,Mortality,78663,"1988-1994, 1999-2000, 2001-2002, 2003-2004, 20...",NaN,NaN,NaN,NaN,NaN
8,PERMTH_EXM,Person Months of Follow-up from MEC/Exam Date,Mortality,Mortality,73539,"1988-1994, 1999-2000, 2001-2002, 2003-2004, 20...",NaN,NaN,NaN,NaN,NaN
9,SDDSRVYR,Release cycle number,Mortality,Survey Variables,135310,"1988-1994, 1999-2000, 2001-2002, 2003-2004, 20...",NaN,NaN,NaN,NaN,NaN
10,VNELIGSTAT,Eligibility Status for Mortality Follow-up - L...,Mortality,Mortality,135310,"1988-1994, 1999-2000, 2001-2002, 2003-2004, 20...",NaN,NaN,NaN,NaN,NaN
11,VNMORTSTAT,Final Mortality Status - Labeled Categories,Mortality,Mortality,78663,"1988-1994, 1999-2000, 2001-2002, 2003-2004, 20...",NaN,NaN,NaN,NaN,NaN
12,VNUCOD_LEADING,Underlying Cause of Death Recode from UCOD_113...,Mortality,Mortality,17857,"1988-1994, 1999-2000, 2001-2002, 2003-2004, 20...",NaN,NaN,NaN,NaN,NaN
13,VNDIABETES,Diabetes flag from multiple cause of death - L...,Mortality,Mortality,17857,"1988-1994, 1999-2000, 2001-2002, 2003-2004, 20...",NaN,NaN,NaN,NaN,NaN
14,VNHYPERTEN,Hypertension flag from multiple cause of death...,Mortality,Mortality,17857,"1988-1994, 1999-2000, 2001-2002, 2003-2004, 20...",NaN,NaN,NaN,NaN,NaN
15,SEQN_new,Respondent sequence number that includes an id...,Dietary,Survey Variables,127584,"1988-1994, 1999-2000, 2001-2002, 2003-2004, 20...",NaN,NaN,NaN,NaN,NaN
16,SEQN,Respondent sequence number,Dietary,Survey Variables,127584,"1988-1994, 1999-2000, 2001-2002, 2003-2004, 20...",NaN,NaN,NaN,NaN,NaN
17,SDDSRVYR,Release cycle number,Dietary,Survey Variables,127584,"1988-1994, 1999-2000, 2001-2002, 2003-2004, 20...",NaN,NaN,NaN,NaN,NaN
18,RIDAGEYR,NaN,Dietary,Demographics,127584,"1988-1994, 1999-2000, 2001-2002, 2003-2004, 20...",NaN,NaN,NaN,NaN,NaN
19,RIAGENDR,NaN,Dietary,Demographics,127584,"1988-1994, 1999-2000, 2001-2002, 2003-2004, 20...",NaN,NaN,NaN,NaN,NaN

In [19]:
print("Number of rows:", len(dictionary))
print("Number of columns:", dictionary.shape[1])

Number of rows: 5411
Number of columns: 11

In [20]:
dictionary['in_dataset'].unique()

array(['Mortality', 'Dietary', 'Demographics', 'Response', 'Medications',
       'Questionnaire', 'Chemicals', 'Occupation', 'Weights', 'Comments'],
      dtype=object)

In [21]:
mortality_vars = dictionary[dictionary['in_dataset'] == 'Mortality']
mortality_vars[['variable_codename_use', 'variable_description_use']]

   variable_codename_use                           variable_description_use
0                   SEQN                         Respondent sequence number
1               SEQN_new  Respondent sequence number that includes an id...
2               ELIGSTAT         Eligibility Status for Mortality Follow-up
3               MORTSTAT                             Final Mortality Status
4           UCOD_LEADING  Underlying Cause of Death Recode from UCOD_113...
5               DIABETES         Diabetes flag from multiple cause of death
6               HYPERTEN     Hypertension flag from multiple cause of death
7             PERMTH_INT     Person Months of Follow-up from Interview Date
8             PERMTH_EXM      Person Months of Follow-up from MEC/Exam Date
9               SDDSRVYR                               Release cycle number
10            VNELIGSTAT  Eligibility Status for Mortality Follow-up - L...
11            VNMORTSTAT        Final Mortality Status - Labeled Categories
12        VNUCOD_LEADING  Underlying Cause of Death Recode from UCOD_113...
13            VNDIABETES  Diabetes flag from multiple cause of death - L...
14            VNHYPERTEN  Hypertension flag from multiple cause of death...

In [37]:
dictionary.loc[
    dictionary['variable_codename_use'].isin(['DIABETES', 'VNDIABETES']),
    :
]

,variable_codename_use,variable_description_use,in_dataset,file_category,num_participants_measurements,unique_cycles,units,cas_num,comment_codename_use,chemical_family,chemical_family_shorten
5,DIABETES,Diabetes flag from multiple cause of death,Mortality,Mortality,17857,"1988-1994, 1999-2000, 2001-2002, 2003-2004, 20...",NaN,NaN,NaN,NaN,NaN
13,VNDIABETES,Diabetes flag from multiple cause of death - L...,Mortality,Mortality,17857,"1988-1994, 1999-2000, 2001-2002, 2003-2004, 20...",NaN,NaN,NaN,NaN,NaN

In [38]:
mort[['DIABETES', 'VNDIABETES']].head(10)

   DIABETES VNDIABETES
0       NaN        NaN
1       0.0         No
2       NaN        NaN
3       NaN        NaN
4       NaN        NaN
5       NaN        NaN
6       NaN        NaN
7       NaN        NaN
8       NaN        NaN
9       0.0         No

In [39]:
mort['DIABETES'].value_counts(dropna=False)

NaN    117453
0.0     15785
1.0      2072
Name: DIABETES, dtype: int64

In [40]:
mort[['DIABETES']].describe()

           DIABETES
count  17857.000000
mean       0.116033
std        0.320273
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

In [10]:
'''

import statsmodels.api as sm

X = df[['coffee_cups', 'sleep_hours', 'age', 'sex']]
y = df['mortality_indicator']

X = sm.add_constant(X)
model = sm.Logit(y, X).fit()
model.summary()
'''

"\n\nimport statsmodels.api as sm\n\nX = df[['coffee_cups', 'sleep_hours', 'age', 'sex']]\ny = df['mortality_indicator']\n\nX = sm.add_constant(X)\nmodel = sm.Logit(y, X).fit()\nmodel.summary()\n"

In [41]:
dictionary[
    dictionary['variable_description_use']
    .str.contains('blood pressure|hypertension|systolic|diastolic|BP', 
                  case=False, na=False)
][['variable_codename_use', 'variable_description_use', 'in_dataset']]

,variable_codename_use,variable_description_use,in_dataset
6,HYPERTEN,Hypertension flag from multiple cause of death,Mortality
14,VNHYPERTEN,Hypertension flag from multiple cause of death...,Mortality
931,BPXDAR,Diastolic blood pressure average,Response
933,BPXDI1,Diastolic: Blood pressure (first reading) mm Hg,Response
934,BPXDI11,Diastolic: Blood pressure (first reading) repl...,Response
...,...,...,...
2017,HAE5D6,Now made other changes for hypertension?,Questionnaire
2274,HAM15B,Medical reason to change eating: high BP,Questionnaire
2819,MCQ100,Doctor ever told you have high blood pressure,Questionnaire
2820,MCQ110,Because of {SP's} high blood pressure [hyperte...,Questionnaire
2897,MCQ250F,Any blood relatives with high blood pressure o...,Questionnaire

In [42]:
pd.set_option('display.max_rows', None)

bp_vars = dictionary[
    dictionary['variable_description_use']
    .str.contains(
        'blood pressure|hypertension|systolic|diastolic|BP',
        case=False, na=False
    )
][['variable_codename_use', 'variable_description_use', 'in_dataset']]

bp_vars

,variable_codename_use,variable_description_use,in_dataset
6,HYPERTEN,Hypertension flag from multiple cause of death,Mortality
14,VNHYPERTEN,Hypertension flag from multiple cause of death...,Mortality
931,BPXDAR,Diastolic blood pressure average,Response
933,BPXDI1,Diastolic: Blood pressure (first reading) mm Hg,Response
934,BPXDI11,Diastolic: Blood pressure (first reading) repl...,Response
935,BPXDI12,Diastolic: Blood pressure (first reading) repl...,Response
936,BPXDI1519,"K4, diastolic, for 1st BP(mmHg)(age5-19)",Response
937,BPXDI15191,"K4, diastolic, for 1st BP replicate 1 (mmHg)(a...",Response
938,BPXDI15192,"K4, diastolic, for 1st BP replicate 2 (mmHg)(a...",Response
939,BPXDI2,Diastolic: Blood pressure (second reading) mm Hg,Response
940,BPXDI21,Diastolic: Blood pressure (second reading) rep...,Response
941,BPXDI22,Diastolic: Blood pressure (second reading) rep...,Response
942,BPXDI2519,"K4,diastolic, for 2nd BP, age 5-19 (mmHg)",Response
943,BPXDI25191,"K4,diastolic, for 2nd BP replicate 1, age 5-19...",Response
944,BPXDI25192,"K4, diastolic, for 2nd BP replicate 2, age 5-1...",Response
945,BPXDI3,Diastolic: Blood pressure (third reading) mm Hg,Response
946,BPXDI31,Diastolic: Blood pressure (third reading) repl...,Response
947,BPXDI32,Diastolic: Blood pressure (third reading) repl...,Response
948,BPXDI3519,"K4, diastolic, for 3rd BP(mmHg)(age5-19)",Response
949,BPXDI35191,"K4, diastolic, for 3rd BP replicate 1 (mmHg)(a...",Response
950,BPXDI35192,"K4, diastolic, for 3rd BP replicate 2 (mmHg)(a...",Response
951,BPXDI4,Diastolic: Blood pressure (fourth reading if n...,Response
962,BPXSAR,Systolic blood pressure average,Response
963,BPXSY1,Systolic: Blood pressure (first reading) mm Hg,Response
964,BPXSY11,Systolic: Blood pressure (first reading) repli...,Response
965,BPXSY12,Systolic: Blood pressure (first reading) repli...,Response
966,BPXSY2,Systolic: Blood pressure (second reading) mm Hg,Response
967,BPXSY21,Systolic: Blood pressure (second reading) repl...,Response
968,BPXSY22,Systolic: Blood pressure (second reading) repl...,Response
969,BPXSY3,Systolic: Blood pressure (third reading) mm Hg,Response
970,BPXSY31,Systolic: Blood pressure (third reading) repli...,Response
971,BPXSY32,Systolic: Blood pressure (third reading) repli...,Response
972,BPXSY4,Systolic: Blood pressure (fourth reading if ne...,Response
973,PEASCCT1,Blood Pressure Comment,Response
974,PEASCST1,Blood Pressure Status,Response
975,PEASCTM1,Blood Pressure Time in Seconds,Response
976,PEP6G41,First BP refused replicate 1 (age 5+ years),Response
977,PEP6G42,First BP refused replicate 2 (age 5+ years),Response
978,PEP6H411,Second BP refused (age 5+ years) replicate 1,Response
979,PEP6H412,Second BP refused (age 5+ years) replicate 2,Response
980,PEP6I41,Third BP refused replicate 1 (age 5+ years),Response
981,PEP6I42,Third BP refused replicate 2 (age 5+ years),Response
985,VNAVEBPXSY,Systolic: Average blood pressure (mm Hg),Response
986,VNAVEBPXSY1,Systolic: Average blood pressure replicate 1 (...,Response
987,VNAVEBPXSY2,Systolic: Average blood pressure replicate 2 (...,Response
988,VNLBAVEBPXDI,Diastolic: Average blood pressure (mm Hg),Response
1128,CVAARM,Arm selected for blood pressure monitoring,Response
1129,CVACUFF,Cuff size used for blood pressure monitoring,Response
1149,CVDR1DI,Recovery 1 diastolic blood pressure (mm Hg),Response
1151,CVDR1SY,Recovery 1 systolic blood pressure (mm Hg),Response
1153,CVDR2DI,Recovery 2 diastolic blood pressure (mm Hg),Response
1155,CVDR2SY,Recovery 2 systolic blood pressure (mm Hg),Response
1157,CVDR3DI,Recovery 3 diastolic blood pressure (mm Hg),Response
1159,CVDR3SY,Recovery 3 systolic blood pressure (mm Hg),Response
1161,CVDS1DI,Stage 1 diastolic blood pressure (mm Hg),Response
1165,CVDS1SY,Stage 1 systolic blood pressure (mm Hg),Response
1167,CVDS2DI,Stage 2 diastolic blood pressure (mm Hg),Response
1171,CVDS2SY,Stage 2 systolic blood pressure (mm Hg),Response
1174,CVDWDI,Warm-up diastolic blood pressure (mm Hg),Response
1176,CVDWSY,Warm-up systolic blood pressure (mm Hg),Response
1180,CVQ220C,Reason for Priority 2 Stop: Exercise blood pre...,Response
1181,CVQ220E,Reason for Priority 2 Stop: Significant drop (...,Response
1816,BPD035,Age when first told that {you/he/she} had hype...,Questionnaire
1817,BPD058,How often {did you check your/did SP check his...,Questionnaire
1824,BPQ010,How long has it been since {you/SP} last had {...,Questionnaire
1825,BPQ020,Ever been told by a health professional that y...,Questionnaire
1826,BPQ030,{Were you/Was SP} told on 2 or more different ...,Questionnaire
1827,BPQ040A,Have you ever been told to take prescribed med...,Questionnaire
1828,BPQ040B,Have you ever been told to control your weight...,Questionnaire
1829,BPQ040C,Have you ever been told to cut down on salt in...,Questionnaire
1830,BPQ040D,Have you ever been told to exercise more for y...,Questionnaire
1831,BPQ040E,Have you ever been told to cut down on alcohol...,Questionnaire
1832,BPQ040F,Have you ever been told to do something else f...,Questionnaire
1833,BPQ043A,Ever told to stop smoking for hypertension?,Questionnaire
1834,BPQ043B,Ever told to increase potassium for hypertension?,Questionnaire
1835,BPQ043C,Ever told to make other dietary changes for hy...,Questionnaire
1836,BPQ043D,Ever told to do other things for hypertension?,Questionnaire
1837,BPQ050A,Now taking prescribed medicine for hypertension?,Questionnaire
1838,BPQ050B,Now controlling your weight or losing weight f...,Questionnaire
1839,BPQ050C,Now cutting down on salt or sodium in your die...,Questionnaire
1840,BPQ050D,Now exercising more for hypertension?,Questionnaire
1841,BPQ050E,Now cutting down on your alcohol consumption f...,Questionnaire
1842,BPQ052,Ever been told by a doctor or other health pro...,Questionnaire
1843,BPQ056,{Did you/Did SP} take {your/his/her} blood pre...,Questionnaire
1844,BPQ057,{Have you/Has SP} ever been told by a doctor o...,Questionnaire
1845,BPQ059,Did a doctor or other health professional tell...,Questionnaire
1862,DID310D,What does your doctor say your diastolic blood...,Questionnaire
1863,DID310S,What does your doctor say your systolic blood ...,Questionnaire
1894,DIQ175H,Reason for thinking you're at risk for diabete...,Questionnaire
1926,DIQ300D,What was your recent diastolic blood pressure?,Questionnaire
1927,DIQ300S,What was your recent systolic blood pressure?,Questionnaire
1999,HAE3,Told 2+ times you had hypertension/HBP,Questionnaire
2000,HAE4B,Doctor told control/lose weight for HBP,Questionnaire
2001,HAE4C,Doctor told cut salt intake for HBP,Questionnaire
2002,HAE4D,Doctor told do anything else for HBP,Questionnaire
2003,HAE4D1,Doctor told exercise more for HBP,Questionnaire
2004,HAE4D2,Doctor told restrict alcohol for HBP,Questionnaire
2005,HAE4D3,Doctor told stop smoking for HBP,Questionnaire
2006,HAE4D4,Ever been told by a doctor or other health pro...,Questionnaire
2007,HAE4D5,Doctor told change diet for HBP,Questionnaire
2008,HAE4D6,Doctor told make other changes for HBP,Questionnaire
2009,HAE5A,Now taking prescribed medicine for HBP,Questionnaire
2010,HAE5B,Now controlling or losing weight for HBP,Questionnaire
2011,HAE5C,Now using less salt or sodium for HBP,Questionnaire
2012,HAE5D1,Now exercising for high blood pressure,Questionnaire
2013,HAE5D2,Now restricting alcohol for HBP,Questionnaire
2014,HAE5D3,Now quit smoking for hypertension?,Questionnaire
2015,HAE5D4,Now reduce tension for hypertension?,Questionnaire
2016,HAE5D5,Now made dietary changes for hypertension?,Questionnaire
2017,HAE5D6,Now made other changes for hypertension?,Questionnaire
2274,HAM15B,Medical reason to change eating: high BP,Questionnaire
2819,MCQ100,Doctor ever told you have high blood pressure,Questionnaire
2820,MCQ110,Because of {SP's} high blood pressure [hyperte...,Questionnaire
2897,MCQ250F,Any blood relatives with high blood pressure o...,Questionnaire

In [43]:
resp = pd.read_csv(path + "/response_clean.csv")
resp['BPXDAR'].describe()

/var/folders/nk/m67jcr3d74gdqb7sq9_szhmr0000gn/T/ipykernel_48768/180029437.py:1: DtypeWarning: Columns (827,831,836,837,841,846,951,952,984,985,986,999,1000,1001) have mixed types. Specify dtype option on import or set low_memory=False.
  resp = pd.read_csv(path + "/response_clean.csv")

count    15052.000000
mean        66.856896
std         14.446559
min          0.000000
25%         59.000000
50%         68.000000
75%         76.000000
max        132.000000
Name: BPXDAR, dtype: float64

In [44]:
total_n = len(resp)
non_na_n = resp['BPXDAR'].notna().sum()
non_na_rate = non_na_n / total_n

print(f"Total rows: {total_n}")
print(f"Non-NA BPXDAR: {non_na_n}")
print(f"Non-NA rate: {non_na_rate:.3f}")

Total rows: 131030
Non-NA BPXDAR: 15052
Non-NA rate: 0.115

In [45]:
resp['BPXDAR'].value_counts().head(10)

70.0    593
72.0    534
66.0    514
68.0    506
69.0    479
60.0    475
64.0    466
74.0    465
62.0    452
76.0    436
Name: BPXDAR, dtype: int64

In [47]:
bp_counts_horizontal = resp['BPXDAR'].value_counts().to_frame().T
bp_counts_horizontal

,70.0,72.0,66.0,68.0,69.0,60.0,64.0,74.0,62.0,76.0,...,120.0,127.0,121.0,12.0,13.0,132.0,112.0,122.0,117.0,23.0
BPXDAR,593,534,514,506,479,475,466,465,452,436,...,1,1,1,1,1,1,1,1,1,1